HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

uploads/*

!uploads/1984.pdf
!uploads/animal-farm.pdf
!uploads/brief-history-of-time.pdf
!uploads/ce090487-db62-4862-8ab7-7c7a643e212e.pdf
!uploads/clean-code.pdf
!uploads/effective-java.pdf
!uploads/emotional-intelligence.pdf
!uploads/head-first-design-patterns.pdf
!uploads/intro-algorithms.pdf
!uploads/javascript-the-good-parts.pdf
!uploads/sapians.pdf
!uploads/the-martian.pdf
